@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    font-family: 'VT323', monospace;

}
body {
    background-color:#000000;
}

#store {
    border: 2px rgb(47, 255, 68);
    outline-style: solid;
    outline-color: chartreuse;
    height: 660px;
    position: relative;
    max-width: 540px;
    border-radius: 25px;
    
    


}

#cart {
    border: 2px rgb(47, 255, 68);
    outline-style: solid;
    outline-color: chartreuse;
    margin: 5%;
    height: 700px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: .25rem;
    width: 400px;


    
    


}


h1 {
    text-align: center;
    color: rgb(47, 255, 68);
    font-size: 1.75rem;
    padding: 1rem;
}

#Fisherman {
    font-size: 2rem;
    padding: 1rem;
}

p {
    text-align: center;
    color: rgb(47, 255, 68);
    font-size: 1rem;
    padding: 0rem;
}

#Scoreboard {
    text-align: center;
    height: 175px;
   
    
}

#Score {
    padding: 0rem;
    font-size: 50px;
    position: relative;
    text-align: center;
    margin: auto;

}
#scoreText {
    padding: 0rem;
    position: relative;
    font-size: 25px;
    margin: auto;
}

li {
    text-align: center;
    color: rgb(47, 255, 68);
    font-size: 2rem;
    
}

/*.button {
    border: 1px rgb(47, 255, 68);
    outline-style: solid;
    outline-color: chartreuse;
    background-color: #000000;
    color: chartreuse;
    padding: auto;
  
    }*/

    .button.selected {
        background-color: rgb(47, 255, 68);
        color: #000000;
    }
    .cart{
        font-size: 2rem;
        background-color: #000000;
        color: chartreuse;
        
        
    }

    @media all and (min-width: 540px) {
        #store {
            border: 2px rgb(47, 255, 68);
            outline-color: chartreuse;
            position: relative;
            max-width: 540px;
            border-radius: 25px;
            margin: auto;
        }

    }